<div class="col-sm-4 col-lg-4 col-md-4">
  <div class="thumbnail">
      <img src="http://placehold.it/320x150" alt="">
      <div class="caption">
          <h4 class="pull-right">$<%= space.price %></h4>
          <h4><a href="#"><%= space.name %></a>
          </h4>
          <p><%= space.description %></p>
      </div>
  </div>
</div>