<div class="container page-subheader">
  <div class="pull-left">
    <%= link_to space_path(@space_id),:class => "back" do %>
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
      Regresar
    <% end %>
  </div>
</div>
<div class="container">
    <div class="page-header">
        <h1>Has tu reserva!</h1>
    </div>
    <%= render 'form' %>
</div>